/* About */
.about-information {
    padding: 0;
}

.about-information .header-paint {
    width: 150px;
    position: relative;
    left: -65px;
}

.about-information h1 {
    position: relative;
    top: -75px;
}

.about-information .about-me .text-par {
    position: relative;
    top: -75px;
}

.about-information .hobbies {
    position: relative;
    top: 50px;
    padding-left: 75px;
}

.about-information .about-section1 ul {
    display: flex;
}

.about-information .about-section1 .summary {
    width: 40vw;
}

.about-information .my-brand .text-par {
    position: relative;
    top: -75px;
}