* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

:root {
    --fuchs_maroon: #800200;
    --fuchs_teal: #077580;
    --fuchs_black: #1c1d21;
    --fuchs_white: #fafafa;
    --linkedin_blue: #0077b5;
    --github_purple: #6e5494;
}

/* Content Classes */
body {
    
    background: var(--fuchs_white);
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

h1 {
    font-size: 28px;
    font-weight: 900;
    color: var(--fuchs_teal);
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--fuchs_teal);
}

p {
    font-weight: 400;
    color: var(--fuchs_black);
}

a {
    text-decoration: none;
    color: var(--fuchs_black);
}

ul {
    list-style: none;
}

.text-par {
    padding: 10px 0;
}

.text-bullets ul {
    list-style: inside;
    padding-left: 22px;
    text-indent: -22px;
}

.highlight-word {
    color: var(--fuchs_teal);
    font-weight: 600;
}

/* Projects */
.projects {
    padding-top: 75px;
}

.projects .container-sm .recent-projects {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding-top: 50px;
}

.projects .container-sm a {
    transition: 0.5s;
}

.projects .container-sm a:hover {
    opacity: 0.85;
}

.projects .container-sm a img {
    width: 20vw;
    height: auto;
    padding: 0 1vw;
}

.projects .container-sm a h2 {
    padding: 1vw 0;
}

/* Background Effect Classes */
.paint-drip {
    z-index: -1;
    position:absolute ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.paint-drip div img {
    height: 125px;
    width: auto;
}

/*Drip Animation*/
.paint-drip div {
    position: absolute;
    display: block;
    animation-name: drip;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.1, 0.8, 0.175, .9);
    animation-iteration-count: infinite;
}
.paint-drip div:nth-child(1) {
    left: 10%;
    animation-delay: -1s;
}
.paint-drip div:nth-child(2) {
    left: 20%;
    animation-delay: -2.5s;
}
.paint-drip div:nth-child(3) {
    left: 30%;
    animation-delay: -3s;
}
.paint-drip div:nth-child(4) {
    left: 40%;
    animation-delay: -4.5s;
}
.paint-drip div:nth-child(5) {
    left: 50%;
    animation-delay: -5s;
}
.paint-drip div:nth-child(6) {
    left: 60%;
    animation-delay: -6.5s;
}
.paint-drip div:nth-child(7) {
    left: 70%;
    animation-delay: -7s;
}
.paint-drip div:nth-child(8) {
    left: 80%;
    animation-delay: -8.5s;
}
.paint-drip div:nth-child(9) {
    left: 90%;
    animation-delay: -9s;
}

@keyframes drip {
    0% {
        top: -10%;
        opacity: .2;
    }
    50% {
        opacity: .2;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}

/* Navbar */
.navbar {
    padding: 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo-sm img {
    height: 10vh;
}

.navbar .nav-menu ul {
    display: flex;
}

.navbar .nav-menu ul li a {
    padding: 5vw 2vw;
    display: block;
    font-weight: 700;
    transition: 0.5s;
}

.navbar .nav-menu ul li a:hover {
    color: var(--fuchs_teal);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--fuchs_maroon);
    height: 175px;
    width: 100%;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer-content ul {
    display: flex;
    align-items: center;
}

.footer-content .footer-logo img {
    height: 100px;
    padding-right: 10px;
}

.footer-links .icon-links i {
    color: var(--fuchs_white);
    transition: 0.5s;
}

.footer-links .icon-links .linkedin-icon {
    padding-right: 25px;
}

.footer-links .icon-links .linkedin-icon i:hover {
    opacity: 50%;
}

.footer-links .icon-links .github-icon i:hover {
    opacity: 50%;
}

.footer-links .resume-links {
    padding-top: 10px;
}

.footer-links .resume-links a {
    display: flex;
    color: var(--fuchs_white);
    align-content: center;
    transition: 0.5s;
}

.footer-links .resume-links a:hover {
    opacity: 50%;
}

.footer-links .resume-links a i {
    padding-right: 10px;
}

.footer-links .resume-links a p {
    color: var(--fuchs_white);
    font-size: 24px;
    font-weight: 600;
}

/* Utility Classes */
.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10vw;
}

.container-sm {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 10vw;
}