/* About */
.about {
    background: #fff;
    padding: 0;
}

.about .container-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container-sm .logo-name img {
    width: 100vw;
    height: auto;
}

.about .about-me {
    display: block;
}

.about .about-me .about-par {
    padding: 10px 0;
}

.about .about-me .links {
    display: block;
}

.about .about-me .links .download-links ul {
    display: flex;
}

.about .about-me .links .download-links ul li a {
    padding: 10px 2vw 10px 0;
    display: block;
    font-weight: 700;
    transition: 0.5s;
}

.about .about-me .links .download-links ul li a:hover {
    color: var(--dark-blue);
}

.about .about-me .links .icon-links {
    padding: 20px 0;
}